@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Eater&family=Mulish:ital,wght@1,200;1,500&family=Nanum+Myeongjo&display=swap');.search{
  width: 250px;
  margin: 0 40%;
text-align: center;
}
.demo_img{
  margin: 20px 35%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}
.navbar{
  background-color: #fff;
}
.nav-link{
  font-size: 20px;
  color: rgb(10, 8, 8);
}
.nav-link:hover{
  color: rgb(248, 121, 48);
  border-bottom: 1px dotted  rgb(248, 121, 48);
}
.navbar-brand{
  color: rgb(86, 86, 184);
  font-size: 25px;
}
.brand-name{
  color: rgb(86, 86, 184);
  font-size: 50px;
  margin-left: 10px;
}
h2{
  font-size: 15px;
}
.btn:hover{
  background-color: #fff;
  color: rgb(86, 86, 184)
}
.home_img{
  width: 500px;
  height: 450px;
  padding-top: 40px;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down{
  0%{
    transform: translateY(10px);
  }100%{
    transform: translateY(-10px);
  }
}
@media (max-width: 650px) {
  .home_img{
    width: 400px;
  height: 350px;
  }
}